li{
    list-style: none;
}
.form-dis{
    display: none;
}
a{
    text-decoration: none;
}
.percernt{
    text-decoration: line-through;
}
input {outline: 0 !important;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
