$btn-color:#FF8900;
$title-color:#003366;
$sub-sum:#CCD5DF;
$slider:#346DA6; 
$vertical-line:#E0E9F2;
$btn-text-color:#fff;
$bacground-section:#E6EDF5;
$user-date-color:#819EBB;
$bacground-section-mob:#F3F9FF;
$valid: green;